/*      Colors used: 
deepskyblue

*/


/* ---------- Universal Elements---------- */

* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
/*---------- Navigation---------- */
.navbar {
    padding: 22px 22px;
    background-color: rgba(0, 0, 0, .65);
  
}
.navbar li {
    padding-left: 17px;
    
}
.navbar a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all .2s ease-in;
    
}
.navbar a:hover {
    color: deepskyblue;
}


.navbar-toggler {
    border-color: rgb(255,255,255);
    transition: all .2s ease-in;
}
.navbar-toggler:hover {
    border-color: deepskyblue;
    
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.location {
    border: 1px solid white;
    border-radius: 75px;
}
.location:hover {
    border: 1px solid deepskyblue;
}
a.navbar-brand {
    font-size: 23px;
}
/*---------- Slider Section ---------- */

.slider {
    width: 100%;
    height: 700px;
    background-image: url(../img/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    color:white;
}

.slider-overlay {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-content {
    position: absolute;
    top: 39%;
    width: 100%;
}

.cta-div {
    margin-top: 30px;
    padding-top: 75px;
}


.icons {
    padding-top: 150px;
}

.fa-apple,
.fa-android,
.fa-windows {
    border: 1px solid white;
    padding: 3px 7px;
    background:rgba(0, 191, 255, .60);
}

.icons,
.social-networks {
    font-size: 30px;
}

.btn1 button,
.btn2 button {
    padding: 10px 20px;
    background: rgba(0, 0, 0, .59);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    border: 2px solid white;
    transition: all .5s ease-in;
    margin-right: -6px;
}

.btn1 button {
    border-top-left-radius: 15px;
}
.btn2 button {
    border-bottom-right-radius: 15px;
}

.btn1 button:hover {
    color: white;
    background: deepskyblue;
    border-color: deepskyblue;
}

.btn2 button:hover {
    background: orangered;
    border-color: orangered;
}

.social-networks a {
    border: 1px solid deepskyblue;
    padding: 5px 15px;
    color:deepskyblue;
    width: 35px;
    height: 35px;
    transition: all .2s ease-in;
    background-color: rgba(255, 255, 255, .75);
}


.social-networks a:hover {
    text-decoration: none;
    background-color: deepskyblue;
    color:white;
    border: 1px solid white;
}

.text,
.slider .typed-cursor {
    display: inline;
    font-size: 35px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .75);
}
/* Keyframes for blink */
.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.primary {
    color: deepskyblue;
}





/* ----------MEDIA QUERIES----------*/

@media only screen and (max-width: 991px) {
    .location,
    .location:hover {
        border: none;
    }
}